<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.roman.general.patrol</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/romanberlin/Projects/General/scripts/run-patrol.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/romanberlin/Projects/General/patrol/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/romanberlin/Projects/General/patrol/launchd.err.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
