<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.roman.general.smalltalk</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/romanberlin/Projects/General/scripts/run-smalltalk.sh</string>
  </array>
  <!-- Three seeds a day; run-smalltalk.sh adds 0-35 min jitter so it feels spontaneous. -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>11</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>45</integer></dict>
  </array>
  <key>StandardOutPath</key><string>/Users/romanberlin/Projects/General/council/smalltalk.out.log</string>
  <key>StandardErrorPath</key><string>/Users/romanberlin/Projects/General/council/smalltalk.err.log</string>
</dict>
</plist>
